.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.myform {
  background: -webkit-linear-gradient(bottom, #cccccc, #eeeeee 175px);
  background: -moz-linear-gradient(bottom, #cccccc, #eeeeee 175px);
  background: linear-gradient(bottom, #cccccc, #eeeeee 175px);
  width: 50%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 100%;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  text-align: center;
  margin-bottom: 3%;
  z-index: 1;
  display: inline-block;
  background-image: linear-gradient(
      to right bottom,
      rgba(30, 115, 172, 0.7),
      rgba(142, 57, 153, 0.6)
    ),
    url(images/footer.png);
  background-color: black;
}

input {
  width: 80%;
  display: block;
  border: 1px solid #999;
  height: 20%;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  cursor: pointer;
  padding: 2%;
  margin-bottom: 1.5%;
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 10%;
}

input:hover {
  border-color: #008cba;
}

input:focus {
  border: 1px solid #008cba;
}

.mybtn {
  color: white;
  background: transparent;
  border-radius: 6px;
  border-color: #0099cc;
  text-align: center;
  display: inline-block;
  font-size: 80%;
  margin-right: 10%;
  margin-left: 10%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #008cba;
  margin-top: 3%;
  padding: 2% 2%;
}
.mybtn:hover {
  background-color: #008cba;
  color: white;
}

.widget {
  background: -webkit-linear-gradient(bottom, #cccccc, #eeeeee 175px);
  background: -moz-linear-gradient(bottom, #cccccc, #eeeeee 175px);
  background: linear-gradient(bottom, #cccccc, #eeeeee 175px);
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 100%;
  line-height: 80%;
  text-decoration: none;
  border-radius: 10px;
  padding: 2%;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-left: 3%;

  text-align: center;
  z-index: 1;
  display: inline-block;
}

.noDisplay {
  display: none;
}

.card {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.carousel-inner img {
  margin: auto;
}
.carousel-indicators {
  background-color: rgba(84, 87, 88, 0.7);
}
